<div class="creators-container">
  <h1>Créateurs a la une</h1>
</div>

<div class="creators-container">
  <div class="creators-content">
    <div class="creators">
      <div class="creator">
        <img src="" alt="c">
        <h3>John Doe</h3>
        <a [routerLink]="'/creator'">Voir le Profil</a>
      </div>
      <div class="creator">
        <img src="" alt="c">
        <h3>Ant Jo</h3>
        <a [routerLink]="'/creator'">Voir le Profil</a>
      </div>
      <div class="creator">
        <img src="" alt="c">
        <h3>Alejandro Sosa</h3>
        <a [routerLink]="'/creator'">Voir le Profil</a>
      </div>
      <div class="creator">
        <img src="" alt="c">
        <h3>Lu Pet</h3>
        <a [routerLink]="'/creator'">Voir le Profil</a>
      </div>
    </div>
  </div>
</div>
