<div class="our-products-container">
  <div class="our-products">
    <a class="product-presentation bonsais" [routerLink]="'/plants'">
      <button>{{ wording?.ourProducts?.plants[locale] }}</button>
    </a>
    <a class="product-presentation figurines" [routerLink]="'/figurines'">
      <button>{{ wording?.ourProducts?.figurines[locale] }}</button>
    </a>
    <a class="product-presentation wall-arts" [routerLink]="'/wall-arts'">
      <button>{{ wording?.ourProducts?.wallArts[locale] }}</button>
    </a>
  </div>
</div>

<div class="favorite-products-container">
  <h1>{{ wording?.ourProducts?.favoriteProducts?.title[locale] }}</h1>
</div>

<div class="favorite-products-container">
  <div class="favorite-products">
    <div class="products">
      <a class="product" [routerLink]="'/product'">
        <img src="../../../assets/img/products/bonsais-product-cover.png" alt="p">
        <h3>Bonsaï</h3>
        <h4>8.99 €</h4>
      </a>
      <a class="product" [routerLink]="'/product'">
        <img src="../../../assets/img/products/bebe-yoda-product-cover.png" alt="p">
        <h3>Figurine Bébé Yoda</h3>
        <h4>14.99 €</h4>
      </a>
      <a class="product" [routerLink]="'/product'">
        <img src="../../../assets/img/products/orchid-product-cover.png" alt="p">
        <h3>Orchidée</h3>
        <h4>6.99 €</h4>
      </a>
      <a class="product" [routerLink]="'/product'">
        <img src="../../../assets/img/products/rick-and-morty-product-cover.png" alt="p">
        <h3>Figurine Rick & Morty</h3>
        <h4>9.99 €</h4>
      </a>
      <a class="product" [routerLink]="'/product'">
        <img src="../../../assets/img/products/cactus-product-cover.png" alt="p">
        <h3>Cactus x2</h3>
        <h4>3.99 €</h4>
      </a>
    </div>
  </div>
</div>
