.our-products-container {
  display: inline-flex;
  width: calc(100% - 200px);
  margin: 40px 100px;

  .our-products {
    display: inline-flex;
    width: 100%;

    .product-presentation {
      width: min(20vw, 450px);
      height: min(20vw, 450px);
      margin: auto;
      border-radius: 10px;
      transition: background-size ease-in-out 0.5s;
      display: inline-flex;
      text-decoration: none;
      outline: none;
      background-position: center;
      background-size: 100% 100%;
      cursor: pointer;
      box-shadow: 0 2px 2px #c5c5c5;

      &:hover {
        background-size: 110% 110%;
      }

      button {
        cursor: pointer;
        margin: auto auto 20px auto;
        background: #fff;
        height: auto;
        border-radius: 20px;
        border: none;
        box-shadow: 0 2px 2px #000;
        font-weight: bold;
        padding: 10px 15px;
        outline: none;
      }

      &.bonsais {
        background-image: url(../../../assets/img/products/bonsais-product-cover.png);
      }

      &.figurines {
        background-image: url(../../../assets/img/products/figurines-product-cover.jpg);
      }

      &.wall-arts {
        background-image: url(../../../assets/img/products/wall-arts-product-cover.jpg);
      }
    }
  }
}

.favorite-products-container {
  display: inline-flex;
  width: calc(100% - 140px);
  padding: 0 70px;

  h1 {
    padding-left: 70px;
    margin-top: 30px;
  }

  .favorite-products {
    display: inline;
    width: 100%;

    .products {
      display: inline-flex;
      width: 100%;
      margin-top: 20px;

      .product {
        margin: auto;
        border-radius: 10px;
        display: inline;
        cursor: pointer;
        text-decoration: none;
        outline: none;
        color: #555;

        img {
          width: min(10vw, 225px);
          height: min(10vw, 225px);
          border-radius: 10px;
          box-shadow: 0 2px 2px #c5c5c5;
        }
      }
    }
  }
}
