<div class="cover">
  <div class="decoration-left">
    <div class="square_1">
      <fa-icon [icon]="faRobot"></fa-icon>
    </div>
    <div>
      <div class="square_2">
        <fa-icon [icon]="faAirFreshener"></fa-icon>
      </div>
      <div class="square_4"></div>
    </div>
    <div class="square_3"></div>
  </div>
  <div class="text">
    <h1>{{ wording?.slogan[locale] }}</h1>
  </div>
  <div class="decoration-right">
    <div>
      <div class="square_6">
        <fa-icon [icon]="faPalette"></fa-icon>
      </div>
    </div>
    <div>
      <div class="square_8"></div>
      <div class="square_7">
        <fa-icon [icon]="faCookieBite"></fa-icon>
      </div>
    </div>
    <div>
      <div class="square_9">
        <fa-icon [icon]="faSeedling"></fa-icon>
      </div>
      <div>
        <div class="square_10"></div>
        <div class="square_5"></div>
      </div>
    </div>
  </div>
</div>
