<ng-container *ngIf="showHeader">
  <div class="header">
    <a [routerLink]="['home']"><img src="assets/favicon.ico" alt="tt"></a>

    <div class="nav-container">
      <div class="nav-header">
        <select #localeId (change)="setLocale(localeId.value)">
          <option [selected]="locale === 'fr'" value="fr">FR</option>
          <option [selected]="locale === 'en'" value="en">EN</option>
        </select>
        <div class="separator vertical"></div>
        <a [routerLink]="['submit-your-products']">
          <ng-container *ngIf="locale === 'fr'">Proposez vos produits</ng-container>
          <ng-container *ngIf="locale === 'en'">Submit your products</ng-container>
        </a>
        <div class="separator vertical"></div>
        <a [routerLink]="['login']">
          <ng-container *ngIf="locale === 'fr'">Se connecter</ng-container>
          <ng-container *ngIf="locale === 'en'">Log in</ng-container>
        </a>
        <div class="separator vertical"></div>
        <a [routerLink]="['register']">
          <ng-container *ngIf="locale === 'fr'">S'inscrire</ng-container>
          <ng-container *ngIf="locale === 'en'">Sign in</ng-container>
        </a>
      </div>

      <div class="search-header">
        <div class="search-input">
          <input type="search" #searchInput (keypress)="handleSearch($event, searchInput)"/>
          <fa-icon [icon]="faSearch" (click)="search(searchInput)"></fa-icon>
        </div>

        <fa-icon [icon]="faShoppingBag"></fa-icon>
      </div>
    </div>
  </div>

  <div class="nav">
    <a [routerLink]="['figurines']">Figurines</a>
    <a [routerLink]="['gadgets']">Gadgets</a>
    <a [routerLink]="['wall-arts']">
      <ng-container *ngIf="locale === 'fr'">Arts Muraux</ng-container>
      <ng-container *ngIf="locale === 'en'">Wall Arts</ng-container>
    </a>
    <a [routerLink]="['goodies']">Goodies</a>
    <a [routerLink]="['plants']">
      <ng-container *ngIf="locale === 'fr'">Plantes</ng-container>
      <ng-container *ngIf="locale === 'en'">Plants</ng-container>
    </a>
  </div>
</ng-container>

<router-outlet></router-outlet>

<div class="footer">
  <div class="map">
    <div>
      <h2>
        <ng-container *ngIf="locale === 'fr'">Boutique</ng-container>
        <ng-container *ngIf="locale === 'en'">Shop</ng-container>
      </h2>
      <ul>
        <li>
          <a [routerLink]="['figurines']">Figurines</a>
        </li>
        <li>
          <a [routerLink]="['gadgets']">Gadgets</a>
        </li>
        <li>
          <a [routerLink]="['wall-arts']">
            <ng-container *ngIf="locale === 'fr'">Arts Muraux</ng-container>
            <ng-container *ngIf="locale === 'en'">Wall Arts</ng-container>
          </a>
        </li>
        <li>
          <a [routerLink]="['goodies']">Goodies</a>
        </li>
        <li>
          <a [routerLink]="['plants']">
            <ng-container *ngIf="locale === 'fr'">Plantes</ng-container>
            <ng-container *ngIf="locale === 'en'">Plants</ng-container>
          </a>
        </li>
        <li>
          <a [routerLink]="['login']">
            <ng-container *ngIf="locale === 'fr'">Se connecter</ng-container>
            <ng-container *ngIf="locale === 'en'">Log in</ng-container>
          </a>
        </li>
        <li>
          <a [routerLink]="['register']">
            <ng-container *ngIf="locale === 'fr'">S'inscrire</ng-container>
            <ng-container *ngIf="locale === 'en'">Sign in</ng-container>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Tiny Tonio</h2>
      <ul>
        <li>
          <a [routerLink]="['about']">
            <ng-container *ngIf="locale === 'fr'">À propos</ng-container>
            <ng-container *ngIf="locale === 'en'">About</ng-container>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>
        <ng-container *ngIf="locale === 'fr'">Réseaux sociaux</ng-container>
        <ng-container *ngIf="locale === 'en'">Social Networks</ng-container>
      </h2>
      <ul>
        <li>
          <a href="https://www.instagram.com/" target="_blank">
            <fa-icon [icon]="faInstagram"></fa-icon>Instagram
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/" target="_blank">
            <fa-icon [icon]="faFacebook"></fa-icon>Facebook
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com/" target="_blank">
            <fa-icon [icon]="faTwitter"></fa-icon>Twitter
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="references">
    <div class="logo">
      <a [routerLink]="['home']"><img src="assets/favicon.ico" alt="tt"></a>
    </div>

    <div class="usage">
      <a [routerLink]="['terms-of-service']">
        <ng-container *ngIf="locale === 'fr'">Conditions Générales d'Utilisation</ng-container>
        <ng-container *ngIf="locale === 'en'">Terms of Service</ng-container>
      </a>
      <div class="separator rounded-vertical"></div>
      <a [routerLink]="['cookies']">Cookies</a>
    </div>

    <div class="footer">
      <span>© 2021 Tiny Tonio</span>
    </div>
  </div>
</div>
